<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Rs1N Shop App</h1>
            <p class="lead">Alışveriş, insanların en büyük ihtiyaçlarından biridir. İlk çağlardan beri insanlar arasında 
                devam eden bu değiş-tokuş, her iki tarafın menfaatine dayanmaktadır. Alışveriş sadece para verip ürün 
                satın almaktan ibaret değildir. İnsanlar birbiriyle sürekli bilgi alışverişinde de bulunmaktadır. Alışveriş
                özellikle kadınların en büyük eğlencesidir. Neredeyse her kadın, mağazaya girdiği zaman dış dünyayla bağlantısını
                keser. Orada zamanın nasıl geçtiğini anlamaz, o reyon senin bu reyon benim dolaşıp durmak onlar için çok keyiflidir.
                Ama çeşit çeşit modellerden birine karar vermek de zordur. Eğer kadın diğer kız arkadaşlarıyla alışverişe çıktıysa 
                o zaman tamam; problem yoktur.</p>
        </div>
    </div>
</header>