<div class="navbar bg-primary navbar-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-brand">ShopApp</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-asp-controller="admin" asp-action="createproduct">Add Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-asp-controller="admin" asp-action="productlist">Admin Products</a>
            </li>
        </ul>       
    </div>
</div>