<div class="navbar bg-primary navbar-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-brand">RS1N</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/admin/products">Admin Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/admin/categories">Admin Categories</a>
                </li>
            }
        </ul>


        <ul class="navbar-nav ml-auto">

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/account/manage">@User.Identity.Name</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/logout">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/account/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/register">Register</a>
                </li>
            }
        </ul>
    </div>
</div>

